.cache
.lsp-session-v1
.org-id-locations
auto-save-list/
bookmarks
custom.el
eln-cache/
elpa/
eshell/
forge-database.sqlite
mastodon.plstore
org-roam.db
perspective
projects
recentf
request/
saves
straight/
transient/
workspace/
kkcrc
